<!-- * Temperatura -->

<div class="dataset">
  <span class="label">Temperatrura</span>
  <div class="chart-container">
    <canvas class="chart" id="temperature-chart"></canvas>
  </div>
</div>

<!-- * Wilgotność powietrza -->

<div class="dataset">
  <span class="label">Wilgotność powietrza</span>
  <div class="chart-container">
    <canvas class="chart" id="air-humidity-chart"></canvas>
  </div>
</div>

<!-- * Wilgotność gleby -->

<div class="dataset">
  <span class="label">Wilgotność gleby</span>
  <div class="chart-container">
    <canvas class="chart" id="soil-humidity-chart"></canvas>
  </div>
</div>
